.card {
  min-height: 98px;
  width: 100%;
  border: 1px solid #CACACA;
  background-color: #F3F3F3;
  cursor: pointer;

  .card-id {
    min-height: 100%;
    min-width: 98px;
    text-align: center;

    span {
      font-size: 24px;
    }
  }
}
